.teams-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .team {
    width: 60%;
    padding: 50px;
    background-color: rgba(179, 179, 179, 0.829);
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .team h2 {
    margin: 0 0 10px;
  }
  
  .team p {
    margin: 0;
    font-size: 16px;
  }
  .team-button {
    height: 75px;
    width: 150px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s;
    border:0px;
    font-size: 18px;
  }
  
  .team-button:hover {
    background-color: #45a049;
  }